.cursos {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
}

.cursos h1 {
    padding: 20px 0;
    font-size: 3rem;
    text-align: center;
}

.cursos-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}

.cursos-body div h3 {
    margin: 1rem 0 0.5rem 0;
}

@media (max-width: 720px) { 
    .cursos-body div h3 {
       text-align: center;
    }
    
}
