*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    font-family: "Roboto", sans-serif !important;
}

a {
    color: white;
}

.container {
    padding: 0 10%;
}

.titulo-section {
    padding: 20px 0;
    font-size: 3rem;
    text-align: center;
}




